@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer components {
  * {
    font-family: 'Montserrat', sans-serif;
  }

  html {
    body {

      .underline-animation {
        display: inline-block;
        position: relative;
        color: black;
      }

      .underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.50s ease-out;
      }

      .underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      nav {
        a {

        }
      }

      main {

      }

      footer {
        .underline-animation {
          color: white;
        }
        .underline-animation::after {
          background-color: white;
        }
      }
    }
  }
}
